{% if node.type == 'horizontal' %}
<div> {{ node.title }}</div>
<div class="{{ node.class }}" data-share-url="{{ node.currenturl }}" data-share-description="{{ node.description }}" data-share-imageurl="{{ node.image }}"></div>
{% endif %}
{% if node.type == 'vertical' %}
<div class="{{ node.class }}" data-share-url="{{ node.currenturl }}" data-share-description="{{ node.description }}" data-share-imageurl="{{ node.image }}" style="{{ node.style }}"></div>
{% endif %}