<div class="panel">
<div id="loginradius_tabs">
 {% if output.loginradius_logs %}
<table id="sociallogin_log_table" cellspacing="0" style="word-break: break-all;">
<thead>
  {% set style = 'style="background-color:#fcfcfc"' %}
<tr {{style}}>
    <td colspan="6" scope="col" class="manage-colum" style="font-weight: bold;"><a href="clearlog">Clear Log</a></td>
 </tr>
<tr>
{% for key,value in output.logs_key %} 
{% if (key != 'log_id') %} 
   <th scope="col" style="width:95px;"><strong>{{ key|replace({"_" :  " "})|title }}</strong></th>
{% endif %} 
 {% endfor %}      
 </tr>

</thead>
<tfoot>
<tr {{style}}>
 {% for data_key,data_value in output.loginradius_logs  %}
   {% set count = 1 %}
 {% for key,value in  data_value %}  
 {% if (key != 'log_id') %} 
 {% if (key == 'timestamp') %}         
  <td scope="col">{{ value|date("m/d/Y") }}</td>
 {% elseif (key == 'response') %}
<td scope="col" class="manage-colum comment more">{{ value }}</td>
  {% else %}
<td scope="col">{{ value }}</td>
{% endif %}  
{% endif %}  

 {% endfor %}
 
 </tr>
 {% endfor %}  
</tfoot>
</table>
 {% else %}
<table id="sociallogin_userprofile_table" cellspacing="0" style="word-break: break-all;">
<thead>
  {% set style = 'style="background-color:#fcfcfc"' %}
<tr {{style}}>
    <th scope="col" class="manage-colum" style="font-weight: bold;">Api url</th>
    <th scope="col" class="manage-colum" style="font-weight: bold;">Request type</th>
    <th scope="col" class="manage-colum" style="font-weight: bold;">Data</th>
    <th scope="col" class="manage-colum" style="font-weight: bold;">Response</th>
    <th scope="col" class="manage-colum" style="font-weight: bold;">Response type</th>
    <th scope="col" class="manage-colum" style="font-weight: bold;">Timestamp</th>
 </tr>
</thead>
<tfoot>
<tr {{style}}>
<td colspan="6" scope="col" class="manage-colum">No log messages available</td>
</tr>
</tfoot>
</table>
{% endif %}
</div>
</div>