{% include 'lr_links.html.twig' %}
{% if providers %}    
     {% for key, provider in providers %}     
         {% if provider %}
             <div style="margin-bottom: 3px;">              
             <div style="width:350px; float:left;">
                 <img src="{{ image_url }}/{{ provider }}.png"> {{ provider }} is
                 {% if connected[key] %}
                     <span style="color:green">{{ 'Currently Connected'|t }}</span>
                 {% else %}
                     {{ 'Connected'|t }}   
                 {% if show_link %}
                 <a href="{{ delete_url[key] }}">{{ 'Unlink'|t }}</a>
                  {% endif %}                  
                 {% endif %}
             </div>         
           
             </div>
            <div style="clear:both"> </div>
         {% endif %}
     {% endfor %}
 {% endif %}