<div id="login_box" class="password">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="login_main_part">
    <h2 class="title">{{ title }}</h2>

    {{ page.highlighted }}
    {{ messages }}

    {{ page.content }}
  </div>

  <div id="login_bottom_part">
  {% if login_page_link  %}
    <div class="login_link">
      <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
    </div>
	{% endif %}
 {% if create_accounts  %}
    <div class="register_link">
      <a href="{{ path('user.register') }}">{{ 'Register a new account'|t }}</a>
    </div>
 {% endif %}	
{% if back_to_homes  %}
    <div class="back_link">
      <a href="{{ url('<front>') }}">&larr; {{ 'Back'|t }} {{ site_name }}</a>
    </div>
 {% endif %}	
  </div>
</div>
