<div id="regi_box" class="register">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="regi_main_part">
    <h2 class="title">{{ title }}</h2>

    {{ messages }}

    {{ page.content }}
  </div>

  <div id="regi_bottom_part">
  {% if login_page_link  %}
    <div class="login_link">
      <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
    </div>
{% endif %}	
 {% if create_accounts  %}
    <div class="password_link">
      <a href="{{ path('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
    </div>
{% endif %}
    <div class="back_link">
      <a href="{{ url('<front>') }}">&larr; {{ 'Back'|t }} {{ site_name }}</a>
    </div>
  </div>
</div>
