{{ attach_library('socialprofiledata/drupal.modal') }}
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#loginradius_tabs").tabs();
    });</script>


<div class="panel">
    <div id="loginradius_tabs">
        <ul>
            {% for loginradius_tab_key,loginradius_tab_val in  output.loginradius_tabs  %}
                <li style="float: left; list-style: none;">
                    <a style="margin:0; font-size:12px; font-weight:bold" class="nav-tab"
                       href="#tabs-{{loginradius_tab_key}}"> {{ loginradius_tab_val|replace({"Linkedin" : " "})}}
                    </a>
                </li>
            {% endfor %}
        </ul>
         
        {% if output.noProfileData %}
            <strong>Profile data not found.</strong>
        {% else %}
        
            {% for loginradius_tabs_data_key,loginradius_tabs_data_value  in output.loginradius_tabs_data %}
<div id="tabs-{{  loginradius_tabs_data_key }}">
                     {% for loginradius_tabs_data_h2_key, loginradius_tabs_data_h2_value in loginradius_tabs_data_value %}
                         {% set sub_table = false %}
                        {% if loginradius_tabs_data_h2_key == 'loginradius_basic_profile_data' or loginradius_tabs_data_h2_key == 'loginradius_extended_profile_data' or loginradius_tabs_data_h2_key == 'loginradius_extended_location_data' %}
                        {% set sub_table = true %}                           
                        {% endif %}                       
                        <h2>{{ loginradius_tabs_data_h2_key|replace({"loginradius_" : "","_": " ","linkedin":""})|title }}</h2>
                        {% set count = 1 %}
                        {% set style = '' %}
                        <table id="sociallogin_userprofile_table" cellspacing="0" style="word-break: break-all;">
                             {% if sub_table %}
                            <tfoot>
                            {% set style = 'style="background-color:#fcfcfc"' %}
                            {% for temp_key, temp_value in loginradius_tabs_data_h2_value %}
                                                         
                                {% for key, value in temp_value %}
                                    {% if (key == 'provider_access_token') %}                                       
                                    {% endif %}
                                    {% if (key == 'id' or key == 'user_id') %}                                         
                                        {% set continue = true %}
                                    {% else %}
                                        <tr {{style}}>
                                            <th scope="col" class="manage-colum">{{ key|replace({"_" : " "})|title }}</th>
 
                                            {% if (key == 'picture' and (value != '')) %}
                                                <th scope="col" class="manage-colum">
                                                    <img height="60" width="60" src={{value}}/></th>
                                            {% else %}
                                                <th scope="col" class="manage-colum">{{value}}</th>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% set count = count + 1 %}
                            {% endfor %} 
                            {% else %}
                            <thead>
                            <tr>
                            {% set break = false %}
                                {% for data_key,data_value in loginradius_tabs_data_h2_value  %}
                                    {% for value,values in  data_value if not break %}                                    
                                        {% if (value == 'user_id' or value == 'id') %}
                                            {% set continue = true %}
                                        {% endif %}
                                        <th scope="col" style="width:60px; word-break: break-word;"><strong>{{ value|replace({"_" :  " "})|title }}</strong></th>
                                    {% endfor %}                                     
                                    {% set break = true %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tfoot>
                            {% for contact_key, contacts_value in  loginradius_tabs_data_h2_value %}
                                {% if ((count % 2) == 0) %}
                                    {% set style = 'style="background-color:#fcfcfc"' %}
                                {% endif %}
                                <tr {{style}}>  
                                    {% for key, contact_value in contacts_value %}  
                                        {% if (key == 'ps_user_id' or key == 'id') %}
                                             {% set continue = true %}                                                                                 
                                        {% elseif (key == 'company' and contact_value != null and contact_value != '') %}
                                            <th scope="col" class="manage-colum">
                                            <table cellspacing="0" style="word-break: break-all;">
                                                <thead>
                                                <tr>                                     
                                                 {% set break = false %}                                                      
                                                        {% for companies_key, companies_val in contact_value %}                                                      
                                                            {% if (companies_key == 'ps_user_id' or companies_key == 'id') %}
                                                                {% set continue = true %}
                                                            {% endif %}
                                                            <th scope="col"><strong>{{companies_key|replace({"_" : " "}) }}</strong></th>
                                                        {% endfor %}
                                                </tr>
                                                </thead>
                                                <tfoot><tr>                                                                                                          
                                                        {%for  companies_key,companies_val in contact_value  %}
                                                            {% if (companies_key == 'ps_user_id' or companies_key == 'id') %}                                                               
                                                                {% set continue = true %}
                                                            {% endif %}
                                                            <th scope="col" class="manage-colum">{{companies_val}}</th>
                                                        {% endfor %}                                                        
                                                    </tr></tfoot>
                                           </table></th>                                               
                                        {% else %}
                                            {% if ((contact_value != '') and (key == 'image_url' or key == 'picture')) %}
                                           {% endif %}  
                                            <th scope="col" class="manage-colum">{{contact_value}}</th>
                                        {% endif %}                                      
                                    {% endfor %}
                                </tr>
                               {% set count = count + 1 %}
                            {% endfor %}
                            {% endif %}
                            </tfoot>
                        </table>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
